<template>
  <div>
    <h2>Crear una Lista Todo</h2>
    <form @submit.prevent>
      <div class="form-group">
        <input type="text" class="form-control" 
          @keypress="typing=true" 
          placeholder="¿Qué deseas hacer?" 
          v-model="todo" 
          @keyup.enter="addTodo($event)"
        >
        <span class="help-block small text-center" v-show="typing">Pulse enter para guardar</span>
      </div>
    </form>
  </div>
</template>

<script>
  import store from "./../store.js"

  export default {
    data() {
      return {
        todo: '',
        typing: false,
      }
    },
    methods: {
      addTodo(event) {
        if (event) event.preventDefault();
        let param = {
          text: this.todo,
          completed: false,
          _creator: null
        };
        store.dispatch('ADD_TODO', param)
        this.clearTodo();
        this.refreshTodo();
        this.typing = false;
      },
      clearTodo() {
        this.todo = '';
      },
      refreshTodo() {
        store.dispatch('GET_TODOS');
      }
    }
  }
</script>