<template>
  <div>
    <h2>Crear una Lista Todo</h2>
    <form @submit.prevent>
      <div class="form-group">
        <input type="text" class="form-control" 
          @keypress="typing=true" 
          placeholder="¿Qué deseas hacer?" 
          v-model="todo" 
          @keyup.enter="addTodo($event)"
        >
        <div class="alert alert-warning text-center" v-show="typing">Pulse enter para guardar</div>
      </div>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';  
  import bus from "./../bus.js";

  export default {
    data() {
      return {
        todo: '',
        typing: false,
      }
    },
    methods: {
      addTodo(event) {
        if (event) event.preventDefault();
        let url = 'http://localhost:4000/todos';
        let param = {
          text: this.todo,
          completed: false,
          _creator: null
        };
        axios.post(url, param).then((response) => {
          console.log(response);
          this.clearTodo();
          this.refreshTodo();
          this.typing = false;
        }).catch((error) => {
          console.log(error);
        })
      },
      clearTodo() {
        this.todo = '';
      },
      refreshTodo() {
        bus.$emit("refreshTodo")
      }
    }
  }
</script>