<template>
  <div id="app"> 
    <nav-bar></nav-bar>
    <router-view @authenticated="setAuthenticated"></router-view>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import {router} from './router'

export default {
  name: 'app',
  data() {
    return {
      authenticated: false,
      mockAccount: {
        username: "vueuser",
        password: 12345
      }
    }
  },
  components: {
    NavBar
  },
  mounted() {
    if(!this.authenticated) {
      router.replace({name: 'login'})
    }
  },
  methods: {
    setAuthenticated(status) {
        this.authenticated = status;
    },
    logout() {
        this.authenticated = false;
    }    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>