<template>
    <div>
        <h2>Selecciona la Base de Datos:</h2>
        
    </div>
</template>

<script>
    import store from './../store.js'
    export default {
        computed: {
            servers() {
                return store.getters.SERVERS;

            }
        }
    }
</script>