<template>
    <div>
        <div class="col-md-12" v-show="todos.length>0">
            <h3>Elementos Todo</h3>
            <div class="row mrb-10" v-for="(todo, index) in todos">
                <div class="input-group m-b-5">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <input type="checkbox" 
                            v-model="todo.completed" 
                            :checked="todo.completed" 
                            :value="todo.completed" 
                            v-on:change="updateTodo(todo)" 
                            title="¿Marcar como realizado?"
                        />
                        </div>
                    </div>
                    <input type="text" 
                        class="form-control" 
                        :class="todo.completed?'todo__done':''" 
                        v-model="todo.text" 
                        @keypress="todo.editing=true" 
                        @keyup.enter="updateTodo(todo);"
                    >
                    <div class="input-group-append" >
                        <span class="input-group-text" 
                            v-on:click="deleteTodo(todo._id)">X</span>
                    </div>
                </div>
                <div class="alert alert-warning" v-show="todo.editing">Pulse enter para modificar</div>
            </div>
        </div>
        <div class="row alert alert-info text-center" 
            v-show="todos.length==0">
            <p class="alert alert-info">
              <strong>Todo finalizado</strong>
            <br/>
            No tiene ningún elemento todo</p>
        </div>
    </div>
</template>

<script>
    import store from './../store.js'

    export default {
        data() {
            return {
            }
        },
        computed: {
            todos() {
                return store.getters.TODOS;
            }
        },
        created: function() { // get todo items and start listening to events once component is created
            this.fetchTodo();
        },
        methods: {
            fetchTodo() {
                store.dispatch('GET_TODOS');
            },
            updateTodo(todo) {
                store.dispatch('UPDATE_TODO', todo);
                todo.editing = false;
            },
            deleteTodo(id) { //delete todo item
                store.dispatch('DELETE_TODO', id);
            },
            listenToEvents() {
                bus.$on('refreshTodo', ($event) => {
                    this.fetchTodo(); // referesh or update todo list on the page
                })
            }
        }
    }
</script>
<style scoped>
    .delete__icon {}
    .todo__done {
        text-decoration: line-through !important
    }
    .no_border_left_right {
        border-left: 0px;
        border-right: 0px;
    }
    .flat_form {
        border-radius: 0px;
    }
    .mrb-10 {
        margin-bottom: 10px;
    }
    .addon-left {
        background-color: none !important;
        border-left: 0px !important;
        cursor: pointer !important;
    }
    .addon-right {
        background-color: none !important;
        border-right: 0px !important;
    }
</style>