<template>
        <div class="container">
            <div class="row">
                <div class="col col-md-4 offset-md-4">
                    <nav v-if="authenticated" class="navbar navbar-dark bg-dark justify-content-between navbar-fixed-top">
                        <div class="container-fluid">
                            <a class="navbar-brand text-white">TODO's App</a>
                            <button class="btn btn-outline-info my-2 my-sm-0" v-on:click="logout()" type="button">Salir</button>
                        </div>
                    </nav>  
                </div>
            </div>
            <br>
        </div>
</template>
<script>
    export default {
        computed: {
            authenticated () {
                return this.$parent.authenticated
            }
        },
        methods: {
            logout () {
                // this.$emit("authenticated", false);
                this.$parent.authenticated = false;
                localStorage.removeItem('user');
                this.$router.replace({ name: "login" });

            }
        }
    }
</script>