<html>
    <head>
        <title>VueJs Components</title>
        <script type = "text/javascript" src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="components-demo">
            <button-counter v-on:clickchange="cambiodetitulo" mititulo="Este si es mi boton"></button-counter>
            <button >{{titulo}}</button>
        </div>
        <script>
            Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0,
                    title: 'Boton de prueba'
                }
            },
            props: ['mititulo'],
            template: `<button v-on:click="$emit('clickchange',0)">{{mititulo}} {{ count }} times.</button>`
            })
            new Vue({
                el: '#components-demo',
                data: function () {
                    return {
                        titulo: 'Este es un segundo boton'
                    }
                },
                methods: {
                    cambiodetitulo: function() {
                        console.log("Ejecutado el cambio")
                        this.titulo = "Boton de Compra";
                    }
                }
            
            })
        </script>
    </body>
</html>
