<template>
  <div id="list">
    <nav-bar></nav-bar>
    <div class="container">
      <div class="row">
        <div class="col col-md-4 offset-md-4">
          <db-selector></db-selector>
          <create-todo></create-todo>
          <list-todo></list-todo>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  import CreateTodo from '../components/CreateTodo.vue';
  import ListTodo from '../components/ListTodo.vue';
  import NavBar from '../components/NavBar.vue'
  import DbSelector from '../components/DbSelector.vue'

  export default {
    name: 'list',
    data() {
      return {}
    },
    components: {CreateTodo, ListTodo, NavBar, DbSelector},
  }
</script>
<style>
	.todo-form {
		width: 340px;
    	margin: 50px auto;
	}
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>