<template>

  <div class="login-form" id="login">
      <div>
          <h2 class="text-center">Login de Usuario</h2>       
          <div class="form-group">
              <input type="text" class="form-control" v-model="input.username" placeholder="Usuario" required="required">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" v-model="input.password" placeholder="Contraseña" required="required">
          </div>
          <div class="form-group">
              <button type="submit" v-on:click="login()" class="btn btn-info btn-block">Entrar</button>
          </div>
      </div>
      <!-- <p class="text-center"><a href="#">Crear una cuenta</a></p> -->
  </div>


</template>

<script>
// @ is an alias to /src
export default {
  name: 'login',
  data ()  {
    return {
      input: {
        username: "",
        password: ""
      }
    }
  },
  methods: {
    login() {
        if(this.input.username != "" && this.input.password != "") {
            if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                this.$emit("authenticated", true);
                localStorage.setItem('user', JSON.stringify(this.input.username));
                this.$router.replace({ name: "list" });
            } else {
                console.log("El nombre de usuario y/o contraseña es(son) incorrecto(s)");
            }
        } else {
            console.log("Es necesario ingresar el nombre de usuario y la contraseña");
        }
    }    
  }
}
</script>

<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
