<template>
  <div id="app"> 
    <!-- <header>
      <span>Graphical Test</span>
    </header> -->
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <ValuesSelector msg="Graphical Test"/>
  </div>
</template>

<script>
import ValuesSelector from './components/ValuesSelector.vue'

export default {
  name: 'app',
  components: {
    ValuesSelector
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
