<template>
    <div>
        <h2>Value List</h2>
        <b-btn v-b-toggle.collapse1 variant="primary">Display values</b-btn>
        <b-collapse id="collapse1" class="mt-2">
            <b-card>
                <b-row>
                    <b-col col log="4"><slot name="col3"></slot></b-col>
                    <b-col col log="4"><slot name="col1"></slot></b-col>
                    <b-col col log="4"><slot name="col2"></slot></b-col>
                </b-row>
            </b-card>
        </b-collapse>
    </div>
</template>