<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <b-container>
      <b-row>
        <b-col col lg="3">
          <h2>Values</h2>
          <b-form-group id="minValueGroup"
                        label="Min Value"
                        label-for="minValue">
              <b-form-input id="minValue"
                            type="number"
                            v-model="form.min">
              </b-form-input> 
          </b-form-group>
          <b-form-group id="maxValueGroup"
                        label="Max Value"
                        label-for="maxValue">
              <b-form-input id="maxValue"
                            type="number"
                            v-model="form.max">
              </b-form-input> 
              <br>
              <b-button @click= "submit" variant="primary">Iniciar</b-button>
          </b-form-group>
        </b-col>
        <b-col col lg="6">
          <h2>Results</h2>
          <line-chart :chart-data="number"></line-chart>
        </b-col>
        <b-col col lg="3">
          <list-view>
            <div slot="col1" v-for="result1 in results1">
              {{result1.val}}
            </div>
            <div slot="col2" v-for="result2 in results2">
              {{result2.val}}
            </div>
            <div slot="col3" v-for="result3 in results3">
              {{result3.val}}
            </div>
          </list-view>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import LineChart from './LineChart.vue'
import ListView from './ListView.vue'
import mixinGlobal from '../mixins/mixinGlobal'
// import axios from 'axios'
export default {
  mixins: [mixinGlobal], 
  components: {
    'line-chart': LineChart,
    'list-view': ListView
  },
  name: 'HelloWorld',
  data () {
    return {
      form: {
        min: 0,
        max:0
      },
      message: 'PRUEBA',
      number: {id:0,val:0},
      results1: [],
      results2: [],
      results3: [],
      count: 0,
      top_element: 10
    }
  },
  methods: {
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
