<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Cover Template for Bootstrap</title>
    

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper" id="intro">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!-- <h3 class="masthead-brand">{{mytitle.split('').reverse().join('')}}</h3> -->
              <h3 class="masthead-brand">{{mytitle, 4 | capitalize }}</h3>
              <nav class="nav nav-masthead" >
                <a class="nav-link active" href="#">{{anotherhome}}</a>
                <a class="nav-link" href="#" v-show="esVisible2">{{myfeatures}}</a>
                <a class="nav-link" href="#" v-if="esVisible">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <span v-html="contenidohtml"></span>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <button class="btn btn-lg btn-secondary" @click="cambiarItemMenu('HELLO')">Cambiar Item del Menu</button>
            </p>
            <ul>
              <li v-for="item in items">
                {{item.mensaje}}
              </li>
            </ul>
          </div>
          <img :src="image" width = "300" height="250"/>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="node_modules/assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>

  <script>
    var vue_app = new Vue({
      el: '#intro',
      computed: {
        anotherhome: function() {
          if(this.myhome === 'El Hogar'){
            this.myhome = 'El Hogar 1';
          } else {
          this.myhome = 'El Hogar 2';
          }
          return this.myhome;
        }
      },      
      watch: {
        myhome: function(newfeat, oldfeat) {
          console.log("Este es el valor desde el watcher antes de: ", oldfeat);
          this.myfeatures = '¿Cambio?';
          console.log("Este es el valor desde el watcher despues de: ", newfeat);
        }
      },
      data: {
        mytitle: "mi primer proyecto VueJS",
        myhome: "El Hogar",
        myfeatures: "Features",
        esVisible: false,
        esVisible2: false,
        contenidohtml: '<h1 class="cover-heading">Cover your page.</h1>',
        image: '/images/descarga.jpeg',
        items: [
          {mensaje: 'Hello'},
          {mensaje: 'Bye'}
        ]
      },
      filters: {
        capitalize: function(value, pos) {
          console.log(pos);
          if(!value) return
          value = value.toString();
          return value.charAt(pos).toUpperCase() + value.slice(pos);
        }
      },
      methods: {
        cambiarItemMenu: function(value) {
          console.log("Cambiando la variable ...");
          console.log("El valor de la variable es: ", value);
          this.myhome = value;
          console.log("... Termine");
          this.esVisible = true;
          this.esVisible2 = true;
        }
      },
      beforeCreate: function() {
        console.log("La app esta por ser creada");
        console.log(this.mytitle)
      },
      created: function()  {
        console.log("La app ha sido creada");
        console.log(this.mytitle)
      },
      beforeMount: function() {
        console.log("La app esta por ser creada");
        console.log(this.mytitle)
      },
      mounted: function() {
        console.log("La app se encuentra activa");
        console.log(this.mytitle)
      }


    })


  </script>

</html>
